[Unit]
Description=Twitch Telegram Bot service

[Service]
WorkingDirectory=/home/dune/TwitchNotificationTelegramBot/TwitchBot/
Environment=PYTHONUNBUFFERED=1
ExecStart=python3 /home/dune/TwitchNotificationTelegramBot/TwitchBot/TwitchBot.py

Restart=on-failure

[Install]
WantedBy=default.target
